<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aspire2_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Aspire2_Project.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database3.mdf;Integrated Security=True; User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Aspire2_Project.Properties.Settings.demoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database3.mdf;Integrated Security=True; User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Aspire2_Project.Properties.Settings>
            <setting name="team1" serializeAs="String">
                <value />
            </setting>
            <setting name="team2" serializeAs="String">
                <value />
            </setting>
            <setting name="team1w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team1l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team1d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team1tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team2w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team2l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team2d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team2tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team3w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team3l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team3d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team3tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team4w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team4l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team4d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team4tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team5w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team5l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team5d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team5tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team6w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team6l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team6d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team6tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team7w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team7l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team7d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team7tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team8w" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team8l" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team8d" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team8tp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team1p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team2p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team3p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team4p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team5p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team6p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team7p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="team8p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tm2pl7n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm2pl7e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm2pl7p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm2pl8n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm2pl8e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm2pl8p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl1n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl1e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl1p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl2n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl2e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl2p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl3n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl3e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl3p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl4n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl4e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl4p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl5n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl5e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl5p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl6n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl6e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl6p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl7n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl7e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl7p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl8n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl8e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm3pl8p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl1n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl1e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl1p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl2n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl2e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl2p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl3n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl3e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl3p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl4n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl4e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl4p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl5n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl5e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl5p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl6n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl6e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl6p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl7n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl7e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl7p" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl8n" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl8e" serializeAs="String">
                <value />
            </setting>
            <setting name="tm4pl8p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p1n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p1e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p1p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p2n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p2e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p2p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p3n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p3e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p3p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p4n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p4e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p4p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p5n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p5e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p5p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p6n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p6e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p6p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p7n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p7e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p7p" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p8n" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p8e" serializeAs="String">
                <value />
            </setting>
            <setting name="t5p8p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p1n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p1e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p1p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p2n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p2e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p2p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p3n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p3e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p3p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p4n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p4e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p4p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p5n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p5e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p5p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p6n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p6e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p6p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p7n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p7e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p7p" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p8n" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p8e" serializeAs="String">
                <value />
            </setting>
            <setting name="t6p8p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p1n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p1e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p1p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p2n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p2e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p2p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p3n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p3e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p3p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p4n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p4e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p4p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p5n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p5e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p5p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p6n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p6e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p6p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p7n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p7e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p7p" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p8n" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p8e" serializeAs="String">
                <value />
            </setting>
            <setting name="t7p8p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p1n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p1e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p1p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p2n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p2e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p2p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p3n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p3e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p3p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p4n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p4e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p4p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p5n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p5e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p5p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p6n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p6e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p6p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p7n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p7e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p7p" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p8n" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p8e" serializeAs="String">
                <value />
            </setting>
            <setting name="t8p8p" serializeAs="String">
                <value />
            </setting>
        </Aspire2_Project.Properties.Settings>
    </userSettings>
</configuration>